<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <link href="//fonts.googleapis.com/" rel="dns-prefetch">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- build:css({app,.tmp}) /css/main.css -->
  <link rel="stylesheet" href="/_bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/_bower_components/prism/themes/prism.css">
  <link rel="stylesheet" href="/_bower_components/prism/plugins/autolinker/prism-autolinker.css">
  <link rel="stylesheet" href="/css/main.css">
  <!-- endbuild -->

  <link rel="icon" href="/favicon.png">
</head>
<body>

  {% include nav.html %}

  <main class="container" id="container" role="main">
    <div class="surface">
      <div class="surface-container">
        <div class="content">
          {% include banner.html %}

          <section class="wrapper" tabindex="0">
            <div class="wrapper-container">
              {{ content }}

              {% include footer.html %}
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>

  <!-- build:js(app) /js/scripts.js -->
  <script src="/_bower_components/modernizr/modernizr.js"></script>
  <script src="/_bower_components/jquery/dist/jquery.js"></script>
  <script src="/_bower_components/fastclick/lib/fastclick.js"></script>

  <!-- PrismJS core, aditional languages and plugins -->
  <script src="/_bower_components/prism/prism.js"></script>
  <script src="/_bower_components/prism/components/prism-aspnet.js"></script>
  <script src="/_bower_components/prism/components/prism-bash.js"></script>
  <script src="/_bower_components/prism/components/prism-c.js"></script>
  <script src="/_bower_components/prism/components/prism-clike.js"></script>
  <script src="/_bower_components/prism/components/prism-coffeescript.js"></script>
  <script src="/_bower_components/prism/components/prism-cpp.js"></script>
  <script src="/_bower_components/prism/components/prism-csharp.js"></script>
  <script src="/_bower_components/prism/components/prism-css-extras.js"></script>
  <script src="/_bower_components/prism/components/prism-gherkin.js"></script>
  <script src="/_bower_components/prism/components/prism-go.js"></script>
  <script src="/_bower_components/prism/components/prism-groovy.js"></script>
  <script src="/_bower_components/prism/components/prism-http.js"></script>
  <script src="/_bower_components/prism/components/prism-java.js"></script>
  <script src="/_bower_components/prism/components/prism-nsis.js"></script>
  <script src="/_bower_components/prism/components/prism-php.js"></script>
  <script src="/_bower_components/prism/components/prism-php-extras.js"></script>
  <script src="/_bower_components/prism/components/prism-python.js"></script>
  <script src="/_bower_components/prism/components/prism-ruby.js"></script>
  <script src="/_bower_components/prism/components/prism-scss.js"></script>
  <script src="/_bower_components/prism/components/prism-sql.js"></script>
  <script src="/_bower_components/prism/plugins/autolinker/prism-autolinker.js"></script>

  <script src="/js/drawer.js"></script>
  <script src="/js/imageLoader.js"></script>
  <script src="/js/main.js"></script>
  <!-- endbuild -->
</body>
</html>
