.article-content,
.article-title,
.article-meta {
  max-width: 662px;
  margin-left: auto;
  margin-right: auto;
}

.article-header-image {
  width: 100%;
  height: 0;
  padding-top: 56%;

  background-size: cover;
  background-position: center center;
}

.article-title {
  font-size: $font-size-xl;
  text-align: center;
}

.article-meta {
  margin-bottom: $spacer * 2;

  color: $secondary-color;
  font-size: $font-size-sm;
  text-align: center;

  > * {
    display: inline;
  }
}

.article-content {
  img {
    max-width: 100%;
  }
}

.flickr-album {
  margin-top: $spacer * 2;

  img {
    display: block;
    max-width: 100%;
    margin-bottom: $spacer;
  }
}