.footer {
  padding: $spacer;
  margin-top: $spacer * 3;

  color: $footer-color;
  text-align: center;

  background-color: $footer-bg;

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    font-size: $font-size-lg;
  }
}

@media (min-width: $footer-break) {
  .footer {
    padding: $spacer * 2;

    .nav {
      display: flex;
      justify-content: center;

      a {
        padding-left: $spacer / 2;
        padding-right: $spacer / 2;
      }
    }
  }
}