.tag-list {
  font-size: $font-size-lg;
  text-align: center;
}

@media (min-width: $break-md) {
  .tag-list {
    display: flex;
    justify-content: center;
  }

  .tag-list-item {
    padding: $spacer;
  }
}
