<div class="article">
  <header>
    <% if(page.header){ %>
    <div class="article-header-image" style="background-image: url(<%- page.header %>);"></div>
    <% } %>
    <h1 class="article-title"><%= page.title %></h1>
  </header>

  <div class="article-content">
    <%- page.content %>
  </div>
</div>