<footer class="footer">
  <%- partial('nav') %>
  <ul>
    <li><a href="https://www.facebook.com/mattdwenphotography/" title="Facebook"><i class="fab fa-fw fa-facebook"></i></a></li>
    <li><a href="https://www.instagram.com/mattdwen/" title="Instagram"><i class="fab fa-fw fa-instagram"></i></a>
    <li><a href="https://www.twitter.com/mattdwen/" title="Twitter"><i class="fab fa-fw fa-twitter"></i></a>
    <li><a href="https://www.flickr.com/mattdwen/" title="Flickr"><i class="fab fa-fw fa-flickr"></i></a>
  </ul>
  <p>Copyright &copy; 2020 Matt Dwen</p>
</footer>