*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Rock Salt", sans-serif;
  font-size: 1em;
  line-height: 1.6;
  background: url('//images.pixieset.com/48533146/4c1a5d705f0380d947ba4740adced800-xxlarge.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  min-width: 100%;
  min-height: 550px;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;;
}

.polaroid {
  width: 300px;
  height: 360px;
  background: #FFF;
  position: absolute;
  left: 40%;
  top: 20%;
  background: linear-gradient(120deg, #fff, #DDD 60%);
  font-size: .8rem;
  box-shadow: 2px -2px 20px 0px rgba(0, 0, 0, 0.6), inset 4px 5px 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;

  &:nth-child(1) {
    left: 25%;
    transform: rotate(10deg);
    z-index: 2;

    &:hover {
      transform: rotate(5deg) scale(1.2);
    }
  }

  &:nth-child(2) {
    left: 50%;
    top: 25%;
    transform: rotate(-15deg);

    &:hover {
      transform: rotate(-10deg) scale(1.2);
    }
  }

  &:nth-child(3) {
    left: 55%;
    top: 10%;
    transform: rotate(5deg);
  }
}

.polaroid-img {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 280px;
  height: 280px;
  background: #eee;
  overflow: hidden;
}

.polaroid-img img {
  z-index: -1;
}

.gloss {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(120deg, rgba(255, 255, 255, .6), transparent 60%, rgba(0, 0, 0, .5) 99%);
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 10;
}

p {
  position: absolute;
  bottom: 0px;
  padding: 15px 20px;
  margin: 0;
  letter-spacing: .1em;
}

footer {
  position: absolute;
  bottom: 20px;
  width: 100%;

  text-align: center;
}

footer div,
footer a {
  color: #fff;

  opacity: .8;

  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

footer div + div {
  margin-top: 5px;
}
